body{
	background-color: #16161e;
	font-family: Source Sans Pro;
}
div.hautdepage{
	display: flex;
	justify-content: space-between;
	background-color: #16161e;
	background: #100f15;
	padding: 10px;
	margin: -10px;
}

.hautdepage a{
	color: #78787B;
    font-weight: bold;
    text-decoration: none;
    font-family: Source Sans Pro;
    padding: 0 0 15px;
    margin:10px;
 
}

.hautdepage p{
	font-family: Faster One;
	font-size: 30px;
	color: #78787B;
}

.hautdepage a:hover{
	color: #ff6e7f;
}

.nav-bar{
	background: #16161e;
	padding: 40px 0;
	margin: -10px;
}

.nav-bar{
	background-image: url(../Images/titan2.jpg);
	min-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}

/*-------------------------------barre de menu ou Topnav------------------------------------------------------*/

.topnav{
	background: #100f15;
	background-color: #16161e;
	overflow: hidden;
	margin: -10px;
	padding-bottom: 14px;
}

/*---------------decorer les liens sur le menu horizontal-----------------------*/
.topnav a{
	float: left;
	display: block;
	text-align: center;
	color: #78787B;
	font-weight: bold;
    text-decoration: none;
    font-family: Source Sans Pro;
    padding: 14px;
    font-size: 17px;
}
 .topnav a:hover{
 	background-color: #100f15;
 	color: #ff6e7f;
 }


/* mettre en surbrillance la page qui est consultee */
.topnav a.active {
  background-color: #ff6e7f;
  color: white;
}
/* pour cacher l'icone */
.topnav .icon {
  display: none;
}

/*------------pour que la page soit responsive sur de petits ecrans----------------------------*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*-----------------------------------les sections de gauche-----------------------------------------------------*/


div#content div{
	background-color: rgba(0,0,0,0.1);
	display: inline-block;
	margin-top: 30px;
}

div#content div.left-box{
	width: 80%;
	margin-left: 25px;
	background-color: floralwhite;
	width: 900px;
	height: 550px;
}

.left-box a:hover{
	color: #ff6e7f;
}

.left-box p{
	color: black;
}

.left-box h1{
	margin: 10px;
}
img.riverain{
	width: 200px;
	height: 50px;
	padding: 10px;
	margin-left: 100px;
}
img.insa{
	width: 128px;
	height: 128px;
}

img.moulins{
	width: 200px;
	height: 80px;
}

img.serveur{
	width:  120px; 
	height: 140px;
	margin: 20px;
}

img.web{
	width:  140px; 
	height: 120px;
	margin: 20px;
}

img.spam{
	width:  130px; 
	height: 130px;
	margin: 20px;
}

img.ssl{
	width:  140px; 
	height: 120px;
	margin: 20px;
}

img.secure{
	width:  140px; 
	height: 120px;
	margin: 20px;
}
/*--------------------------------les sections de droite----------------------------------------------------------*/
section#about {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: 25px;
	margin-right: 25px;
	width: 500px;
	height: 400px;
	background-color: rgba(0,0,0,0.1);
}
section#about div.widget-title {
	vertical-align: top;
	background-color: black;
	width: 500px;
	height: 50px;
	width: 100%;
	margin-top: 0px

}



p{
	text-align: center;
	color: white;
}


section#followus {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: -50px;
	margin-right: 25px;
	width: 500px;
	height: 200px;
	background-color: rgba(0,0,0,0.1);
	}

section#followus div.widget-title {
	vertical-align: top;
	background-color: black;
	width: 500px;
	height: 50px;
	width: 100%;
	margin-top: 0px

}
section#followus div.widget-content{
	vertical-align: bottom;
	margin-top: 10px;
	margin-bottom: -10px;
	height: 250px;
	padding: 20px 30px 5px;
	text-align: center;
}


section#followus div.widget-content a{
	text-align: center;

}

section#contact {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: -300px;
	margin-right: 25px;
	width: 500px;
	height: 300px;
	background-color: rgba(0,0,0,0.1);
}

section#contact div.widget-title {
	vertical-align: top;
	background-color: black;
	width: 500px;
	height: 50px;
	width: 100%;
	margin-top: 0px

}
div.widget-content{
	vertical-align: bottom;
	margin-top: 0px;
	margin-bottom: -10px;
	height: 350px;
}

section#contact div.tech-title{
	vertical-align: top;
	background-color: black;
	width: 500px;
	height: 50px;
	width: 100%;
	margin-top: 50px
}



.mySlides{
	display: none;
}

div.tech-item{
	max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}





/*---------------------------------------------MEdia Sociaux---------------------------------------------------------------------*/

div.widget-content a {
	background-color: #78787B;
	padding: 25px;
	color: #100F15;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin-left: 15px;
	width: 20%;
	display: inline-flex;
	align-items: center;

 }

div.widget-content a:hover{
	background-color: #100f15;
 	color: #ff6e7f;
 }

/*----------------------------------------------Contactez moi-------------------------------------------------------------*/

div#contact p{
	margin-left: 15px;
	padding: 20px;
	color: white;
	font-size: 17px;
}


div#contact a{
	color: white;
	text-decoration: none;
	display: flex;
	padding: 20px;
	margin-left: 15px;
	font-size: 17px;
}

/*--------------------------------------------A propos de moi-------------------------------------------------------------------*/

div#widget-content-about{
	background-image: url(../Images/bertin.png);
	max-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 75%;
 }

 div#widget-content-about p {
 	padding-top: 200px;
 }




/*----------------------------------LE pied  de page-----------------------------------------------------------------------------*/
section#footer {
	
	background-color: #16161e;
	background: #100f15;
	margin: -10px;
	margin-top: 20px;
	padding: 20px;
	
}

section#footer div.pieddepage {
	display: flex;
	flex-direction: column;
	width: 20%; 
	
}


.pieddepage p{
	padding: 10px;
	margin-left: 15px;
}

.pieddepage a{
	padding: 10px;
	margin-left: 15px;
	text-decoration: none;
	color: #ffff;
}

.signature pre{
	padding: 10px;
	color: #ffff;
	font-size: 15px;
	text-align: center;
}

.form{
	display: flex;
}
.form form{
	color: #ffff;
}
.form form button{
	border-style: none;
	background-color: #78787b;
}

.form form button:hover{
	background-color: #100f15;
 	color: #ff6e7f;
 }

.home-icon{
	float: right;
	width: 10%;
	font-size: 35px 
}

.home-icon a i{
	color: #ffff;
}

.home-icon a i:hover{
	box-shadow: 0 12px 16px 0 rgba(192,192,192,0.5), 0 17px 50px 0 rgba(192,192,192,0.7);
}


 /*---------------------------------------------------page contact---------------------------------------------------------------*/


section#contact-me{
	height: 500px;
}
.head-title{
	margin: 50px 20% 50px;
	padding: 20px;
	background-color: #100f15;
	text-align: center;
	font-family: poppins, sans-serif;
	font-size: 26px;
	font-weight: bold;
}

.head-title h1{
	color: #ffff;
}
.contact-box{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-family: poppins, sans-serif;
	color: #ffff;
}

div.mail{
	background-color: #100f15;
	padding: 50px;
	text-align: center;
	width: 30%;
	margin: 5px;
}

.mail a{
	text-decoration: none;
	color: #ffff;
}

.mail a:hover{
	background-color: #100f15;
 	color: #ff6e7f;
}

div.adress{
	background-color: #100f15;
	padding: 50px;
	text-align: center;
	width: 30%;
	margin: 5px;
}

.adress a{
	text-decoration: none;
	color: #ffff;
}

.adress a:hover{
	background-color: #100f15;
 	color: #ff6e7f;
}

div.phone{
	background-color: #100f15;
	padding: 50px;
	text-align: center;
	width: 30%;
	margin: 5px;
}

.phone a{
	text-decoration: none;
	color: #ffff;
}

.phone a:hover{
	background-color: #100f15;
 	color: #ff6e7f;
}
/*---------------------------------------------------Formulaire de contact---------------------------------------------------*/

section#contact-form{
	height: 500px;
}

.widget-head{
	margin-top: 80px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 1px;	
	background-color: #100f15;
	text-align: center;
	font-family: poppins, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.widget-head h4{
	color: #ffff;
}

.form-box{
	display: block;
	padding: 30px;
	box-sizing: border-box;
}

.form{
	display: block;
	margin-top: 0px;
}

.form-row{
	/*display: flex;*/
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}

[class= col-md-6]{
	padding-left: 5px;
	padding-right: 5px;
}

.form-group{
	margin-bottom: 0;
}

.form-control{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #6c757d;
	border-radius: 0;
	color: #ffff;
	padding-left: 0;
	margin-bottom: 25px;
	width: 40%;
	margin-right: 100px;
	margin-left: 100px;
}

.btn{
	cursor: pointer;
	border-radius: 50px;
	padding: 10px 25px;
	margin-left: 100px;
	background-color: #ff6e7f;
	color: #ffff;
	transition-duration: 0.4s;
}

.btn:hover{
	box-shadow: 0 12px 16px 0 rgba(192,192,192,0.5), 0 17px 50px 0 rgba(192,192,192,0.7);
}

/*-------------------------------------------------------page Blog------------------------------------------------------------*/

section#blog{
	height: 4000px;
	background-color: floralwhite;
	color: black;
}

.first-box{
	width: 100%;
	margin-top: 30px;
	margin-left: 25px;
	width: 900px;
	height: 400px;
}

.first-box p{
	color: black;
	margin-top: -10px;
	text-align: left;

}

.first-box h1{
	font-weight: bold;

}

.first-box a{
	text-decoration: none;
}
.img img{
	margin-left: 20px;
}


/*---------------------------------------------page de login--------------------------------------------*/

section#login{
	height: 500px;
	font-family:  Source Sans Pro;
}
*{
	box-sizing: border-box;
}

h2{
	color: #ffff;
	text-align: center;
}

/*---------------------------------Style du formulaire-----------------------*/
input{
 width: 40%;
 padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

 .btn{
	 width: 40%;
	 padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
  text-align: center;
  align-items: center;
}

input:hover,.btn:hover {
  opacity: 1;
}
/*---------------------style sur les icones de medias sociaux-------------------*/

.fb {
  background-color: #3b5998;
 	color: #ffff;
}

.twitter {
  background-color: #55acee;
 	color: #ffff;
}

.google {
  background-color: #dd4b39;
 	color: #ffff;
}
.youtube{
	background-color: #c40c0e;
 	color: #ffff;
}

/*------------------------- style sur le  boutton submit---------------------------------------------------------------- */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

/*------------------------------------------ affichage en 2 colonnes---------------------------------------------------- */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns -------------------------------------------------*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------------ligne separatrice------------------------------------------------------------*/
/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 180px;
}

/*-------------------------------------texte a l'interieur de la ligne verticale---------------------------------------------------------*/

.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/*---------------------------------responsive sur ptits ecrans-----------------------------------------------------------*/

.hide-md-lg {
  display: none;
}

/*-------------------------------le bottom container-----------------------------------------------------------------*/

.bottom-container {
  text-align: center;
  background-color: #100F15;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
/* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
